In [280]:
import pandas as pd
import numpy as np

In [281]:
data = pd.read_csv("MovieFinal.csv")

In [282]:
data.head()

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
0,Underworld: Blood Wars,Fantasy Action Thriller Horror,Anna Foerster,Kate Beckinsale,Theo James,Lara Pulver,Vampire death dealer Selene fends off brutal a...,Underworld: Blood Wars Fantasy Action Thriller...
1,Arsenal,Thriller Crime,Steven C. Miller,Adrian Grenier,Johnathon Schaech,Nicolas Cage,After the deadbeat brother of a businessman is...,Arsenal Thriller Crime Steven C. Miller Adria...
2,Between Us,Drama,Rafael Palacio Illingworth,Olivia Thirlby,Ben Feldman,Adam Goldberg,A New York couple and their Midwestern friends...,Between Us Drama Rafael Palacio Illingworth O...
3,Monster Trucks,Action Comedy Science Fiction,Chris Wedge,Lucas Till,Jane Levy,Amy Ryan,Tripp is a high school senior with a knack for...,Monster Trucks Action Comedy Science Fiction C...
4,The Bye Bye Man,Horror Thriller,Stacy Title,Douglas Smith,Doug Jones,Michael Trucco,When three college students move into an old h...,The Bye Bye Man Horror Thriller Stacy Title D...

In [283]:
df2 = data[data.duplicated(keep=False)]

df2.sort_values("movie_title").head(10)

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
6845,"20,000 Leagues Under the Sea",Adventure Drama Family Fantasy Sci-Fi,Richard Fleischer,James Mason,Robert J. Wilke,Paul Lukas,A ship sent to investigate a wave of mysteriou...,"20,000 Leagues Under the Sea Adventure Drama ..."
5662,"20,000 Leagues Under the Sea",Adventure Drama Family Fantasy Sci-Fi,Richard Fleischer,James Mason,Robert J. Wilke,Paul Lukas,A ship sent to investigate a wave of mysteriou...,"20,000 Leagues Under the Sea Adventure Drama ..."
6901,A Dog's Breakfast,Comedy,David Hewlett,Christopher Judge,David Hewlett,Paul McGillion,If you've never been good at anything in your ...,A Dog's Breakfast Comedy David HewlettChristo...
6900,A Dog's Breakfast,Comedy,David Hewlett,Christopher Judge,David Hewlett,Paul McGillion,If you've never been good at anything in your ...,A Dog's Breakfast Comedy David HewlettChristo...
3371,A Nightmare on Elm Street,Horror,Wes Craven,Johnny Depp,Lin Shaye,Amanda Wyss,Teenagers in a small town are dropping like fl...,A Nightmare on Elm Street Horror Wes CravenJo...
6303,A Nightmare on Elm Street,Horror,Wes Craven,Johnny Depp,Lin Shaye,Amanda Wyss,Teenagers in a small town are dropping like fl...,A Nightmare on Elm Street Horror Wes CravenJo...
6359,"A Woman, a Gun and a Noodle Shop",Comedy Drama,Yimou Zhang,Honglei Sun,Ni Yan,Dahong Ni,"Wang is a gloomy, cunning and avaricious noodl...","A Woman, a Gun and a Noodle Shop Comedy Drama..."
4958,"A Woman, a Gun and a Noodle Shop",Comedy Drama,Yimou Zhang,Honglei Sun,Ni Yan,Dahong Ni,"Wang is a gloomy, cunning and avaricious noodl...","A Woman, a Gun and a Noodle Shop Comedy Drama..."
3064,Across the Universe,Drama Fantasy Musical Romance,Julie Taymor,Jim Sturgess,T.V. Carpio,Robert Clohessy,When young dockworker Jude leaves Liverpool to...,Across the Universe Drama Fantasy Musical Rom...
6793,Across the Universe,Drama Fantasy Musical Romance,Julie Taymor,Jim Sturgess,T.V. Carpio,Robert Clohessy,When young dockworker Jude leaves Liverpool to...,Across the Universe Drama Fantasy Musical Rom...

In [285]:
data = data.reset_index(drop = True)

In [286]:
len(data)

6994

In [287]:
data["movie_title"][20]

'Youth in Oregon'

In [288]:
data.describe()

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
count,6989,6990,6875,6972,6931,6799,6950,6994
unique,6856,1430,3903,3281,4400,4962,6588,6866
top,Victor Frankenstein,Drama,Steven Spielberg,Robert De Niro,Morgan Freeman,Ben Mendelsohn,Sahim Omar Kalifa's graduating Film. A Kurdish...,nan Drama Crime nannannannan Sahim Omar Kalifa...
freq,3,405,26,49,20,8,5,5

In [289]:
data.drop_duplicates(subset="movie_title",
                     keep=False, inplace=True)

data.describe()

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
count,6730,6726,6622,6715,6674,6544,6686,6730
unique,6730,1418,3877,3249,4353,4895,6477,6730
top,Underworld: Blood Wars,Drama,Steven Spielberg,Robert De Niro,Bruce Willis,Steve Coogan,"Peter Quill, still reeling from the loss of Ga...",Underworld: Blood Wars Fantasy Action Thriller...
freq,1,396,26,47,18,8,5,1

In [290]:
df3 = data[data.duplicated(keep=False)]

df3.sort_values("movie_title").head(10)

Empty DataFrame
Columns: [movie_title, genres, director_name, actor_1_name, actor_2_name, actor_3_name, overview, combine]
Index: []

In [291]:
def remove_EOL(MovieName):
    return MovieName.split("\xa0")[0]

In [292]:
data["movie_title"] = data["movie_title"].apply(remove_EOL)

In [293]:
data["movie_title"][1773]

'We Have a Ghost'

In [294]:
data[data["movie_title"]== "A Cure for Wellness"]

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
28,A Cure for Wellness,Horror Mystery Science Fiction,Gore Verbinski,Dane DeHaan,Mia Goth,Jason Isaacs,An ambitious young executive is sent to retrie...,A Cure for Wellness Horror Mystery Science Fic...

In [296]:
data.to_csv("MovieFinal.csv", index=False)

### Testing the API

In [315]:
import requests
MovieWatched = "Beyond Borders"
uri = f"http://127.0.0.1:8000/movies/{MovieWatched}"
response = requests.get(uri)

reply = response.json()