In [2]:
import pandas as pd
import numpy as np

In [13]:
data = pd.read_csv("MovieFinal.csv")

In [14]:
data.head()

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
0,Underworld: Blood Wars,Fantasy Action Thriller Horror,Anna Foerster,Kate Beckinsale,Theo James,Lara Pulver,Vampire death dealer Selene fends off brutal a...,Underworld: Blood Wars Fantasy Action Thriller...
1,Arsenal,Thriller Crime,Steven C. Miller,Adrian Grenier,Johnathon Schaech,Nicolas Cage,After the deadbeat brother of a businessman is...,Arsenal Thriller Crime Steven C. Miller Adria...
2,Between Us,Drama,Rafael Palacio Illingworth,Olivia Thirlby,Ben Feldman,Adam Goldberg,A New York couple and their Midwestern friends...,Between Us Drama Rafael Palacio Illingworth O...
3,Monster Trucks,Action Comedy Science Fiction,Chris Wedge,Lucas Till,Jane Levy,Amy Ryan,Tripp is a high school senior with a knack for...,Monster Trucks Action Comedy Science Fiction C...
4,The Bye Bye Man,Horror Thriller,Stacy Title,Douglas Smith,Doug Jones,Michael Trucco,When three college students move into an old h...,The Bye Bye Man Horror Thriller Stacy Title D...

In [25]:
df2 = data[data.duplicated(keep=False)]

df2.sort_values("movie_title").head(10)

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
5399,"20,000 Leagues Under the Sea",Adventure Drama Family Fantasy Sci-Fi,Richard Fleischer,James Mason,Robert J. Wilke,Paul Lukas,A ship sent to investigate a wave of mysteriou...,"20,000 Leagues Under the Sea Adventure Drama ..."
6537,"20,000 Leagues Under the Sea",Adventure Drama Family Fantasy Sci-Fi,Richard Fleischer,James Mason,Robert J. Wilke,Paul Lukas,A ship sent to investigate a wave of mysteriou...,"20,000 Leagues Under the Sea Adventure Drama ..."
6590,A Dog's Breakfast,Comedy,David Hewlett,Christopher Judge,David Hewlett,Paul McGillion,If you've never been good at anything in your ...,A Dog's Breakfast Comedy David HewlettChristo...
6589,A Dog's Breakfast,Comedy,David Hewlett,Christopher Judge,David Hewlett,Paul McGillion,If you've never been good at anything in your ...,A Dog's Breakfast Comedy David HewlettChristo...
6014,A Nightmare on Elm Street,Horror,Wes Craven,Johnny Depp,Lin Shaye,Amanda Wyss,Teenagers in a small town are dropping like fl...,A Nightmare on Elm Street Horror Wes CravenJo...
3164,A Nightmare on Elm Street,Horror,Wes Craven,Johnny Depp,Lin Shaye,Amanda Wyss,Teenagers in a small town are dropping like fl...,A Nightmare on Elm Street Horror Wes CravenJo...
4717,"A Woman, a Gun and a Noodle Shop",Comedy Drama,Yimou Zhang,Honglei Sun,Ni Yan,Dahong Ni,"Wang is a gloomy, cunning and avaricious noodl...","A Woman, a Gun and a Noodle Shop Comedy Drama..."
6070,"A Woman, a Gun and a Noodle Shop",Comedy Drama,Yimou Zhang,Honglei Sun,Ni Yan,Dahong Ni,"Wang is a gloomy, cunning and avaricious noodl...","A Woman, a Gun and a Noodle Shop Comedy Drama..."
6486,Across the Universe,Drama Fantasy Musical Romance,Julie Taymor,Jim Sturgess,T.V. Carpio,Robert Clohessy,When young dockworker Jude leaves Liverpool to...,Across the Universe Drama Fantasy Musical Rom...
2862,Across the Universe,Drama Fantasy Musical Romance,Julie Taymor,Jim Sturgess,T.V. Carpio,Robert Clohessy,When young dockworker Jude leaves Liverpool to...,Across the Universe Drama Fantasy Musical Rom...

In [6]:
data.describe()

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
count,6678,6678,6678,6678,6678,6678,6663,6678
unique,6551,1385,3762,3114,4233,4877,6332,6556
top,King Kong,Drama,Steven Spielberg,Robert De Niro,Morgan Freeman,Ben Mendelsohn,Mavka — a Soul of the Forest and its Warden — ...,Victor Frankenstein Drama Horror Sci-Fi Thril...
freq,3,390,26,49,20,8,4,3

In [7]:
6678-6551

127

In [26]:
data.drop_duplicates(subset="movie_title",
                     keep=False, inplace=True)

data.describe()

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
count,6431,6431,6431,6431,6431,6431,6416,6431
unique,6431,1373,3737,3085,4189,4813,6226,6431
top,Underworld: Blood Wars,Drama,Steven Spielberg,Robert De Niro,Morgan Freeman,Steve Coogan,Thirty years after the events of the first fil...,Underworld: Blood Wars Fantasy Action Thriller...
freq,1,383,26,47,16,8,4,1

In [27]:
df3 = data[data.duplicated(keep=False)]

df3.sort_values("movie_title").head(10)

Empty DataFrame
Columns: [movie_title, genres, director_name, actor_1_name, actor_2_name, actor_3_name, overview, combine]
Index: []

In [102]:
data.tail(50)

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
6627,Tiny Furniture,Comedy Drama Romance,Lena Dunham,Lena Dunham,Merritt Wever,Jemima Kirke,"After graduating from film school, Aura return...",Tiny Furniture Comedy Drama Romance Lena Dunh...
6628,Hayride,Crime Drama Horror,Terron R. Parsons,Richard Tyson,Jeremy Sande,Corlandos Scott,A college student returning home for Halloween...,Hayride Crime Drama Horror Terron R. ParsonsR...
6629,The Naked Ape,Comedy Drama,Daniel Mellitz,Corbin Bernsen,Chelse Swain,Amanda MacDonald,The Naked Ape is a coming-of-age film followin...,The Naked Ape Comedy Drama Daniel MellitzCorb...
6630,The Call of Cthulhu,Fantasy Horror Mystery Thriller,Andrew Leman,Dan Novy,David Mersault,Barry Lynch,A dying professor leaves his great-nephew a co...,The Call of Cthulhu Fantasy Horror Mystery Th...
6631,The Signal,Sci-Fi Thriller,William Eubank,Lin Shaye,Olivia Cooke,Beau Knapp,A country girl comes to the city in search of ...,The Signal Sci-Fi Thriller William EubankLin ...
6632,The Image Revolution,Biography Documentary,Patrick Meaney,Taliesin Jaffe,Greg Aronowitz,Jeff Dowd,"Twenty years ago, seven superstar artists left...",The Image Revolution Biography Documentary Pa...
6633,This Is Martin Bonner,Drama,Chad Hartigan,Jan Haley,Paul Eenhoorn,Demetrius Grosse,Martin Bonner has just moved to Nevada from th...,This Is Martin Bonner Drama Chad HartiganJan ...
6634,A True Story,Comedy,Malcolm Goodwin,Katrina Bowden,Jon Gries,Kelen Coleman,"When megalomaniacal White Goodman, the owner o...",A True Story Comedy Malcolm GoodwinKatrina Bo...
6635,George Washington,Drama,David Gordon Green,Paul Schneider,Eddie Rouse,Damian Jewan Lee,"Set in the landscape of a rural southern town,...",George Washington Drama David Gordon GreenPau...
6636,Smiling Fish & Goat on Fire,Comedy Romance,Kevin Jordan,Derick Martini,Christa Miller,Ion Overman,Two brothers share a house in LA's Fairfax dis...,Smiling Fish & Goat on Fire Comedy Romance Ke...
6637,Dawn of the Crescent Moon,Drama Sci-Fi Thriller,Kirk Loudon,Barry Corbin,Johnny Walter,Shiree Nelson,A group of college students travel to a small ...,Dawn of the Crescent Moon Drama Sci-Fi Thrill...
6638,Raymond Did It,Horror,Travis Legge,Elissa Dowling,Patricia Raven,Lindsay Felton,Mentally challenged Raymond Rourke gets blamed...,Raymond Did It Horror Travis LeggeElissa Dowl...
6639,The Last Waltz,Documentary Music,Martin Scorsese,Ringo Starr,Levon Helm,Bob Dylan,Martin Scorsese's documentary intertwines foot...,The Last Waltz Documentary Music Martin Scors...
6640,"Run, Hide, Die",Horror Thriller,Collin Joseph Neal,Julianne Gabert,Thomas Brophy,Ronee Collins,On the anniversary weekend of the death of a y...,"Run, Hide, Die Horror Thriller Collin Joseph ..."
6641,The Exploding Girl,Drama,Bradley Rust Gray,Zoe Kazan,Mark Rendall,Jordan Scovel,"On a summer break from college, Ivy, a young e...",The Exploding Girl Drama Bradley Rust GrayZoe...
6642,The Legend of God's Gun,Western,Mike Bruce,Joseph Campanella,Kirpatrick Thomas,Christian Anderson,A gun-slinging preacher returns to the debauch...,The Legend of God's Gun Western Mike BruceJos...
6643,Mutual Appreciation,Comedy,Andrew Bujalski,Andrew Bujalski,Kate Dollenmayer,Justin Rice,Alan is a musician who leaves a busted-up band...,Mutual Appreciation Comedy Andrew BujalskiAnd...
6644,Her Cry: La Llorona Investigation,Horror,Damir Catic,Nichole Ceballos,Ron Gelner,Parker Riggs,"Crew of ""Paranormal Legends"" went to film thei...",Her Cry: La Llorona Investigation Horror Dami...
6645,Down Terrace,Comedy Crime Drama,Ben Wheatley,Michael Smiley,Tony Way,David Schaal,After serving jail time for a mysterious crime...,Down Terrace Comedy Crime Drama Ben WheatleyM...
6646,Clerks,Comedy,Kevin Smith,Jason Mewes,Brian O'Halloran,Jeff Anderson,Convenience and video store clerks Dante and R...,Clerks Comedy Kevin SmithJason MewesBrian O'H...
6647,Funny Ha Ha,Comedy Drama,Andrew Bujalski,Andrew Bujalski,Kate Dollenmayer,Justin Rice,"Unsure of what to do next, 23-year-old Marnie ...",Funny Ha Ha Comedy Drama Andrew BujalskiAndre...
6648,In the Company of Men,Comedy Drama,Neil LaBute,Stacy Edwards,Matt Malloy,Jason Dixie,Two business executives--one an avowed misogyn...,In the Company of Men Comedy Drama Neil LaBut...
6650,Manito,Drama Family,Eric Eason,Franky G,Panchito Gómez,Casper Martinez,"Fifteen years ago, their Washington Heights ne...",Manito Drama Family Eric EasonFranky GPanchit...
6651,Rampage,Action Crime Thriller,Uwe Boll,Matt Frewer,Katharine Isabelle,Michael Paré,"Bill Williamson is back, alive and well and do...",Rampage Action Crime Thriller Uwe BollMatt Fr...
6652,Slacker,Comedy Drama,Richard Linklater,Tommy Pallotta,Richard Linklater,Jean Caffeine,"Austin, Texas, is an Eden for the young and un...",Slacker Comedy Drama Richard LinklaterTommy P...
6653,Dutch Kills,Crime Drama Thriller,Joseph Mazzella,Tjasa Ferme,Mikaal Bates,Damon Owlia,A desperate ex-con is forced to gather his old...,Dutch Kills Crime Drama Thriller Joseph Mazze...
6654,Dry Spell,Comedy Romance,Travis Legge,Kristen Seavey,Suzi Lorraine,Travis Legge,The story takes place during a summer of conti...,Dry Spell Comedy Romance Travis LeggeKristen ...
6655,Flywheel,Drama,Alex Kendrick,Shannen Fields,Lisa Arnold,Janet Lee Dapper,"Jay Austin wants to sell you a used car, but w...",Flywheel Drama Alex KendrickShannen FieldsLis...
6656,Exeter,Horror Mystery Thriller,Marcus Nispel,Ashley Tramonte,Brittany Curran,Lindsay MacDonald,"During an all-night, drug-fueled party at an a...",Exeter Horror Mystery Thriller Marcus NispelA...
6657,The Ridges,Drama Horror Thriller,Brandon Landers,Robbie Barnes,Alana Kaniewski,Brandon Landers,Four college students at Ohio University set o...,The Ridges Drama Horror Thriller Brandon Land...
6658,The Puffy Chair,Comedy Drama Romance,Jay Duplass,Mark Duplass,Katie Aselton,Bari Hyman,Josh's life is pretty much in the toilet. He's...,The Puffy Chair Comedy Drama Romance Jay Dupl...
6659,Stories of Our Lives,Drama,Jim Chuchu,Paul Ogola,Olwenya Maina,Mugambi Nthiga,Created by the members of a Nairobi-based arts...,Stories of Our Lives Drama Jim ChuchuPaul Ogo...
6660,Breaking Upwards,Romance,Daryl Wein,Zoe Lister-Jones,Heather Burns,Ebon Moss-Bachrach,"'Breaking Upwards' explores a young, real-life...",Breaking Upwards Romance Daryl WeinZoe Lister...
6661,All Superheroes Must Die,Sci-Fi Thriller,Jason Trost,Sean Whalen,Jason Trost,Nick Principe,"Masked vigilantes Charge (Jason Trost), Cutthr...",All Superheroes Must Die Sci-Fi Thriller Jaso...
6662,Pink Flamingos,Comedy Crime Horror,John Waters,Divine,Mink Stole,Edith Massey,Notorious Baltimore criminal and underground f...,Pink Flamingos Comedy Crime Horror John Water...
6663,Clean,Drama Music Romance,Olivier Assayas,Maggie Cheung,Béatrice Dalle,Don McKellar,"Tormented by a past life, garbage man Clean at...",Clean Drama Music Romance Olivier AssayasMagg...
6664,The Circle,Drama,Jafar Panahi,Fereshteh Sadre Orafaiy,Nargess Mamizadeh,Mojgan Faramarzi,When an attack on the Kingsman headquarters ta...,The Circle Drama Jafar PanahiFereshteh Sadre ...
6665,Tin Can Man,Horror,Ivan Kavanagh,Patrick O'Donnell,Michael Parle,Emma Eliza Regan,A man is trying to put empty cans into his tor...,Tin Can Man Horror Ivan KavanaghPatrick O'Don...
6666,The Cure,Crime Horror Mystery Thriller,Kiyoshi Kurosawa,Kôji Yakusho,Anna Nakagawa,Denden,Thomas leads his group of escaped Gladers on t...,The Cure Crime Horror Mystery Thriller Kiyosh...
6667,On the Downlow,Drama,Tadeo Garcia,Tatiana Suarez-Pico,Michael Cortez,Eric Ambriz,Isaac and Angel are two young Latinos involved...,On the Downlow Drama Tadeo GarciaTatiana Suar...
6668,Sanctuary; Quite a Conundrum,Comedy Horror Thriller,Thomas L. Phillips,Julianna Pitt,Joe Coffey,John Lucas,"It should have been just a normal day of sex, ...",Sanctuary; Quite a Conundrum Comedy Horror Th...
6669,Bang,Crime Drama,Ash Baron-Cohen,Peter Greene,Stanley B. Herman,James Noble,"Emi, a school teacher, finds her career and re...",Bang Crime Drama Ash Baron-CohenPeter GreeneS...
6670,Primer,Drama Sci-Fi Thriller,Shane Carruth,Shane Carruth,David Sullivan,Casey Gooden,Friends and fledgling entrepreneurs invent a d...,Primer Drama Sci-Fi Thriller Shane CarruthSha...
6671,Cavite,Thriller,Neill Dela Llana,Ian Gamazon,Edgar Tancangco,Quynn Ton,The Story of a blind young man gets hold of an...,Cavite Thriller Neill Dela LlanaIan GamazonEd...
6672,El Mariachi,Action Crime Drama Romance Thriller,Robert Rodriguez,Carlos Gallardo,Peter Marquardt,Consuelo Gómez,El Mariachi just wants to play his guitar and ...,El Mariachi Action Crime Drama Romance Thrill...
6673,Newlyweds,Comedy Drama,Edward Burns,Kerry Bishé,Caitlin FitzGerald,Daniella Pineda,A newlywed couple's honeymoon is upended by th...,Newlyweds Comedy Drama Edward BurnsKerry Bish...
6674,Signed Sealed Delivered,Comedy Drama,Scott Smith,Eric Mabius,Daphne Zuniga,Crystal Lowe,A mix up on her first day of work sends Shane ...,Signed Sealed Delivered Comedy Drama Scott Sm...
6675,A Plague So Pleasant,Drama Horror Thriller,Benjamin Roberds,Eva Boehnke,Maxwell Moody,David Chandler,"In the near future, zombies have become a prot...",A Plague So Pleasant Drama Horror Thriller Be...
6676,Shanghai Calling,Comedy Drama Romance,Daniel Hsia,Alan Ruck,Daniel Henney,Eliza Coupe,When ambitious New York attorney Sam is sent t...,Shanghai Calling Comedy Drama Romance Daniel ...
6677,My Date with Drew,Documentary,Jon Gunn,John August,Brian Herzlinger,Jon Gunn,Ever since the second grade when he first saw ...,My Date with Drew Documentary Jon GunnJohn Au...

In [88]:
data[data["movie_title"]== "A Cure for Wellness"]

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
27,A Cure for Wellness,Horror Mystery Science Fiction,Gore Verbinski,Dane DeHaan,Mia Goth,Jason Isaacs,An ambitious young executive is sent to retrie...,A Cure for Wellness Horror Mystery Science Fic...

In [93]:
data["movie_title"][2663]

'Beloved\xa0'

In [94]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity


def create_similarity():
    data = pd.read_csv('main_data.csv')
    # creating a count matrix
    cv = CountVectorizer()
    count_matrix = cv.fit_transform(data['comb'])
    # creating a similarity score matrix
    similarity = cosine_similarity(count_matrix)
    return data,similarity

In [95]:
cv = TfidfVectorizer()
count_matrix = cv.fit_transform(data["combine"])
# creating a similarity score matrix
similarity = cosine_similarity(count_matrix)
print(similarity[0])

[1.         0.02814262 0.01918685 ... 0.03794998 0.02096342 0.03584917]

In [96]:
similarity.shape

(6431, 6431)

In [160]:
i = data.loc[data["movie_title"]== "Zola"].index[0]
#2663 4363 1418

In [161]:
recommend = list(enumerate(similarity[i]))
sorted(recommend, key= lambda x:x[1], reverse=True)

[(1095, 1.0),
 (1696, 0.19845948735495428),
 (3097, 0.18428994275910432),
 (1805, 0.1820166756967346),
 (122, 0.17921257336026675),
 (1764, 0.16522383023159093),
 (706, 0.16407813643331343),
 (1436, 0.1632087488221883),
 (2269, 0.15799403603864356),
 (3846, 0.15597580323814025),
 (1779, 0.153248445228379),
 (1782, 0.1531230135219608),
 (745, 0.14792946056438613),
 (3245, 0.14710236300778018),
 (1389, 0.14703090315196768),
 (5954, 0.14617267007926515),
 (2040, 0.14553326258054608),
 (1214, 0.14507409101644209),
 (96, 0.14478679468034555),
 (4333, 0.14431638466283261),
 (3422, 0.14398582296229603),
 (1066, 0.14349540811927086),
 (1807, 0.14221047267763368),
 (3284, 0.14143510242175694),
 (1004, 0.1414135598257024),
 (6076, 0.1407539034498089),
 (5252, 0.13973973718981383),
 (6428, 0.13900937509319275),
 (3730, 0.13837253841382524),
 (4563, 0.13811729203889178),
 (2261, 0.13739050717935355),
 (4730, 0.13731263012081182),
 (1809, 0.13729498514156607),
 (2797, 0.13640629301202647),
 (3069, 0.13573137721804673),
 (2571, 0.1349020767045081),
 (4651, 0.13479290998059607),
 (2153, 0.1341216429459353),
 (663, 0.13322261018439222),
 (1379, 0.1326711967045891),
 (193, 0.1326242612334342),
 (4076, 0.13168603882539429),
 (3798, 0.13086129869928137),
 (890, 0.13033294646185273),
 (317, 0.1299273107030335),
 (3106, 0.12991135212253574),
 (2879, 0.1298597399032324),
 (1901, 0.12975381754740892),
 (4863, 0.12947749048093715),
 (2082, 0.12927278019869456),
 (3298, 0.128955505160035),
 (2226, 0.1289095946978236),
 (2041, 0.1280337522498985),
 (4108, 0.1280327008748806),
 (82, 0.12788238792240977),
 (4074, 0.12741516434006422),
 (2329, 0.1273875570217405),
 (4210, 0.12720512302963963),
 (3829, 0.12699030487182353),
 (2386, 0.12689633507671932),
 (1831, 0.12635547730217953),
 (1968, 0.12605377670994927),
 (1373, 0.12576521677852084),
 (5046, 0.12568746672584244),
 (3913, 0.12567313966232133),
 (35, 0.12557847688142634),
 (4079, 0.12536838121478605),
 (2309, 0.12524952706165288),
 (1772, 0.12489317052657212),
 (3679, 0.12474871212419858),
 (1861, 0.1247161490829959),
 (6403, 0.12446193316779497),
 (2912, 0.1243961689311976),
 (5697, 0.12385406780188876),
 (83, 0.12370513559682023),
 (3462, 0.12357771234020427),
 (736, 0.12357548832940583),
 (1246, 0.12350355166945415),
 (2315, 0.1233665266288155),
 (1918, 0.12317698774791873),
 (912, 0.1230403727671471),
 (110, 0.12303649891062851),
 (2020, 0.12292337278157753),
 (1340, 0.12278335416998482),
 (4171, 0.1225974046913502),
 (1323, 0.12258265985471431),
 (2952, 0.12254716912853114),
 (3644, 0.12235692714224121),
 (6409, 0.12209111673257589),
 (4653, 0.12140102209031517),
 (3607, 0.12138298132699307),
 (399, 0.12135045093319664),
 (490, 0.12096846376468234),
 (1905, 0.12080778977912532),
 (4574, 0.12078150102331196),
 (4391, 0.12067953622473006),
 (2572, 0.12063000818873443),
 (14, 0.120581182086216),
 (2487, 0.1203152303264081),
 (2623, 0.12023057572855088),
 (1694, 0.1201515284345673),
 (1671, 0.12010584988326926),
 (2763, 0.11959087334098348),
 (1133, 0.11952527126725189),
 (546, 0.11928616945011349),
 (3703, 0.11927676276867277),
 (5081, 0.11924228861614197),
 (3943, 0.11910479936702083),
 (3668, 0.11907480036387652),
 (1770, 0.11905090974806963),
 (89, 0.1188312703757361),
 (5715, 0.11879246141753658),
 (579, 0.1187702187331745),
 (6390, 0.11856054704257955),
 (5985, 0.1183984821145546),
 (1806, 0.11792059373217467),
 (3791, 0.11753259795378464),
 (195, 0.11752247309469467),
 (2313, 0.11721348978986024),
 (1784, 0.11721316082310991),
 (5052, 0.11717919514601874),
 (5160, 0.11705274303784786),
 (946, 0.11696368577181898),
 (2906, 0.1169302888147789),
 (3206, 0.11681665614620199),
 (6315, 0.1167282035057467),
 (2496, 0.11654888151991909),
 (1013, 0.11642425606745617),
 (2130, 0.11636613222446238),
 (3726, 0.11635641507454725),
 (4791, 0.11630127692140295),
 (6305, 0.11626955457241717),
 (2210, 0.11622318109591726),
 (2216, 0.11620622748699726),
 (1866, 0.11594600604050184),
 (1737, 0.11590145140966505),
 (4682, 0.115791214514225),
 (3151, 0.11566720388845536),
 (2832, 0.1156211638023951),
 (94, 0.1155396232511231),
 (349, 0.11547311542656241),
 (635, 0.1152745906595565),
 (2739, 0.11527167736894063),
 (1900, 0.11524003383509747),
 (2384, 0.11420548102145553),
 (290, 0.11419829133617015),
 (1817, 0.11405323432112918),
 (219, 0.11403684501940589),
 (1403, 0.11380164858541515),
 (2421, 0.11377351263759587),
 (80, 0.11353485504367965),
 (3599, 0.11344918582682642),
 (178, 0.11312269310123721),
 (4848, 0.11310282766162649),
 (4354, 0.1130768038129696),
 (4888, 0.11306805144298486),
 (56, 0.11302033747539723),
 (6100, 0.11298668694702388),
 (2150, 0.11294171067625428),
 (337, 0.1127520640030185),
 (5589, 0.11263012283093932),
 (2612, 0.11248959342681092),
 (2065, 0.11240011392915913),
 (3365, 0.1123095266515263),
 (1960, 0.11230533261077372),
 (2122, 0.11211333877613118),
 (1567, 0.11201044461246372),
 (3155, 0.11198919741095194),
 (1971, 0.11180268663094894),
 (3347, 0.11166207984178106),
 (4063, 0.11158080636392413),
 (6280, 0.11152010077593702),
 (1140, 0.11150908508523542),
 (5810, 0.11146227465789),
 (1828, 0.11106113187968134),
 (659, 0.11104623673949723),
 (3246, 0.11095462121329147),
 (2190, 0.11088185524526034),
 (2743, 0.11087668287673116),
 (210, 0.11086978247388804),
 (2156, 0.11066963509331172),
 (4532, 0.11059076073587332),
 (2352, 0.11037646950806479),
 (5163, 0.11037058006755107),
 (1790, 0.11032417187272074),
 (6137, 0.11018683407895011),
 (2409, 0.11003106495479377),
 (1840, 0.1099882271019335),
 (807, 0.10995170235449038),
 (5531, 0.10972851892084354),
 (1021, 0.10972357118249781),
 (6387, 0.10969176917174236),
 (941, 0.10962061972879154),
 (3699, 0.1096201260854097),
 (3153, 0.10959749748996808),
 (829, 0.10958757118410649),
 (2306, 0.10953984154967297),
 (5393, 0.10947925730128363),
 (3269, 0.10937835019597245),
 (466, 0.10927173732190269),
 (4633, 0.10925379091874285),
 (5794, 0.10901053453544751),
 (2516, 0.10886301519020856),
 (3030, 0.1088227248765759),
 (5221, 0.10875466823467454),
 (836, 0.10874095777737039),
 (1439, 0.10870063781862685),
 (2795, 0.10866304341982272),
 (6291, 0.10864290072970086),
 (5103, 0.10851514427854975),
 (2224, 0.10830424320141475),
 (6194, 0.10819554315879441),
 (271, 0.10808362877533342),
 (3037, 0.10790301406819186),
 (2726, 0.10786777203284438),
 (1642, 0.10772733851761904),
 (2719, 0.10771678565553895),
 (1864, 0.1076378347288588),
 (1384, 0.10745379903032182),
 (3166, 0.10743225830462444),
 (943, 0.10735167784630766),
 (669, 0.10724216568345676),
 (5879, 0.10722811548412174),
 (2593, 0.10719825823728911),
 (4562, 0.1070459148249339),
 (1378, 0.1070375917753777),
 (5093, 0.10700550867702853),
 (2149, 0.10690973028203891),
 (5625, 0.10683858399621796),
 (4663, 0.10680292638359379),
 (1718, 0.10665536393527562),
 (3885, 0.10661814638759012),
 (2817, 0.1064835985826768),
 (4762, 0.10642095731808546),
 (1946, 0.10635617626686811),
 (2129, 0.10634333830071183),
 (2340, 0.1063381083750686),
 (4396, 0.10623078331886006),
 (1869, 0.10614993061760122),
 (2036, 0.10605162346469672),
 (6041, 0.1058816722567844),
 (1202, 0.10583312263870782),
 (690, 0.10571871482302025),
 (5757, 0.10564942393573054),
 (1991, 0.1056123549524862),
 (4755, 0.10551691901853683),
 (6134, 0.10551292622516392),
 (847, 0.10537503846548038),
 (1531, 0.10531502464153299),
 (4307, 0.10530101235533895),
 (5819, 0.1051257300726003),
 (2678, 0.10506635094372367),
 (3451, 0.10506433920483485),
 (4840, 0.10496343296351238),
 (5392, 0.10493112629945296),
 (599, 0.1049304598689022),
 (2987, 0.10489691715519327),
 (3215, 0.104832220637364),
 (3596, 0.10481745062885889),
 (3928, 0.10475242061721439),
 (5129, 0.10470615414921972),
 (6302, 0.10455835139322678),
 (1920, 0.10454900139637503),
 (5882, 0.10438783948776409),
 (5137, 0.10434706197628263),
 (4157, 0.10433419322106975),
 (2239, 0.10428265583782395),
 (4363, 0.10427246883580582),
 (5085, 0.1042639754391525),
 (6015, 0.10422125916454028),
 (2299, 0.10396544698946383),
 (2472, 0.10377315522673969),
 (37, 0.10373923756100295),
 (510, 0.10366590210764745),
 (4917, 0.10355097430617195),
 (1833, 0.10344222946606049),
 (1740, 0.10335423386655541),
 (3909, 0.10327286431377271),
 (3486, 0.10325569238320216),
 (5224, 0.10318507164253704),
 (1529, 0.10313723894521158),
 (2199, 0.10312676466161848),
 (2049, 0.10311213578277365),
 (2232, 0.10309225516305341),
 (5592, 0.10302142757721795),
 (1463, 0.10286481118647581),
 (2889, 0.10276476314233791),
 (2139, 0.10267730901632757),
 (4560, 0.1025408240998081),
 (5964, 0.10252779101354001),
 (2849, 0.10248693606649238),
 (1699, 0.10242084800787575),
 (187, 0.1023737978507629),
 (450, 0.10234991867215983),
 (5942, 0.10224664674326747),
 (5309, 0.10223808312491663),
 (5866, 0.1021260564446046),
 (5562, 0.1021129983273512),
 (1020, 0.10205428365618732),
 (5958, 0.10205356569416199),
 (4645, 0.10199386236658586),
 (3484, 0.10195904589496255),
 (1919, 0.10190117182463838),
 (1893, 0.10184894303184015),
 (5852, 0.1018362683308767),
 (1269, 0.10173133057042022),
 (2383, 0.10170999465663978),
 (3737, 0.10168498167659018),
 (2337, 0.1016478983086396),
 (4764, 0.10162555899667415),
 (51, 0.10149399920386701),
 (3840, 0.10146914801398857),
 (4153, 0.10145371315106354),
 (4380, 0.10144149349189252),
 (5235, 0.10139831349066694),
 (1783, 0.10134099351572996),
 (5038, 0.10122839370835582),
 (5599, 0.1012070365224271),
 (4412, 0.10111544191012223),
 (4471, 0.10108337353887757),
 (1364, 0.10104421478920492),
 (2696, 0.10100658719868179),
 (2196, 0.10096370996877155),
 (5630, 0.10095516498919141),
 (2316, 0.10093683795637116),
 (461, 0.10078967454029437),
 (2218, 0.10077531253958785),
 (5039, 0.10073594850108772),
 (920, 0.10066082480987984),
 (2469, 0.10065959253381027),
 (5064, 0.10058103866422413),
 (1263, 0.10056600434992446),
 (5732, 0.10052825228691273),
 (1907, 0.1004579183118676),
 (4500, 0.10037932583765317),
 (325, 0.10010275031749911),
 (4165, 0.10007920562622839),
 (3002, 0.09995232760733522),
 (1380, 0.0996089741020305),
 (4017, 0.09959579638393665),
 (430, 0.09934134840765199),
 (3845, 0.09931992633600609),
 (1538, 0.09931866914916529),
 (3869, 0.09920543381206752),
 (5536, 0.09915437120415481),
 (3907, 0.09915277404825504),
 (2877, 0.09912495278820163),
 (3348, 0.09909941991835057),
 (4194, 0.09904838400441815),
 (879, 0.09900582526881173),
 (5062, 0.0990013303493671),
 (3989, 0.0989300495693744),
 (3950, 0.09891416100975556),
 (1611, 0.09891345961034538),
 (1687, 0.09887363073580713),
 (1923, 0.09882942412716517),
 (3683, 0.09870111787062089),
 (59, 0.09855838711156813),
 (1747, 0.09854349486665669),
 (5816, 0.0984672288403665),
 (515, 0.09845512211412791),
 (5874, 0.09845375568098888),
 (4205, 0.09837265922423812),
 (5701, 0.09834553858425565),
 (4020, 0.09828544325671773),
 (121, 0.0982631503088805),
 (2926, 0.09821620427259498),
 (3807, 0.09815780976511292),
 (2100, 0.09811741254500334),
 (3038, 0.09811475858179716),
 (441, 0.09792155944331858),
 (4615, 0.09786112465011272),
 (3184, 0.09769321894616953),
 (3157, 0.09767992620067048),
 (3372, 0.09761692702179292),
 (4962, 0.09756778209398916),
 (5018, 0.09756010367709268),
 (4207, 0.09740697845485827),
 (5963, 0.0973206451453682),
 (5443, 0.09730608834880933),
 (406, 0.09727530704338556),
 (2841, 0.09721463840562161),
 (356, 0.09720736604786684),
 (4092, 0.0972015669784961),
 (467, 0.09716244681074518),
 (4639, 0.09716111103523113),
 (1367, 0.09710572427355767),
 (3014, 0.09708762292165618),
 (2815, 0.0969863022696018),
 (28, 0.09693903778729591),
 (4577, 0.09692551544126322),
 (5295, 0.09687105329445309),
 (3492, 0.09681814236817912),
 (2031, 0.09679660888751533),
 (2002, 0.09677389442741668),
 (3421, 0.09676402901978375),
 (71, 0.09676299969210904),
 (3282, 0.09674181300852669),
 (6143, 0.09667957305720344),
 (5907, 0.09661494394378072),
 (3165, 0.09661218571279981),
 (3332, 0.09660816211474482),
 (260, 0.09654271016971362),
 (5195, 0.09650658886816689),
 (2524, 0.09650419208478095),
 (1229, 0.0964877866559738),
 (5585, 0.09648730025458084),
 (1846, 0.09645706546127937),
 (6045, 0.09639730877229016),
 (3756, 0.0963921532790393),
 (2561, 0.09636441153329847),
 (2007, 0.09635675955343162),
 (5591, 0.09632077698747303),
 (4458, 0.09631776565073087),
 (1136, 0.09614995098429409),
 (1904, 0.09614108985841215),
 (3704, 0.09613822617727955),
 (504, 0.09608505646767133),
 (6273, 0.09606397232406487),
 (942, 0.09604935499036482),
 (2901, 0.09604847356155519),
 (1941, 0.09599381475774446),
 (230, 0.09599243390478543),
 (1205, 0.09596972366479223),
 (5314, 0.09593823387222361),
 (3086, 0.0959252515693152),
 (5190, 0.09589720148577295),
 (4890, 0.09587979486919372),
 (2319, 0.09584453866968944),
 (6411, 0.09569235798684886),
 (5945, 0.09561821014759511),
 (3727, 0.09559519696587399),
 (2947, 0.0955685430344384),
 (1990, 0.09554465477598237),
 (3549, 0.09553619173012269),
 (1873, 0.09549689752832148),
 (1286, 0.09534351980719893),
 (3558, 0.09534293792651274),
 (4809, 0.0952566459070203),
 (6090, 0.09521709003842575),
 (2533, 0.09520750824917594),
 (2062, 0.09518241016867651),
 (4237, 0.09511131423000314),
 (3685, 0.09504550356878849),
 (4055, 0.09503453143312271),
 (265, 0.09503316955996537),
 (536, 0.09502080384086359),
 (2897, 0.09496489234367461),
 (2427, 0.09493491046898148),
 (2244, 0.09489579750994946),
 (32, 0.09482537788216382),
 (2163, 0.09480775181822602),
 (4514, 0.09477949153872153),
 (2690, 0.09477519895617978),
 (2050, 0.09477383206792887),
 (3194, 0.0947591361998271),
 (2550, 0.09472793066349548),
 (2400, 0.09469227785538228),
 (939, 0.0946588423468571),
 (3326, 0.09450050028900402),
 (3390, 0.09444082816266265),
 (2285, 0.09436096160053228),
 (2772, 0.09435012558722095),
 (955, 0.09431251976033467),
 (1988, 0.09425640095545745),
 (3639, 0.09421282657500919),
 (2451, 0.09421112414018915),
 (4483, 0.09420990247416505),
 (1057, 0.09420828307298704),
 (1368, 0.09418374767786115),
 (5569, 0.09417234419656256),
 (2402, 0.09414889611152856),
 (513, 0.09405157972743765),
 (6389, 0.09405142065446301),
 (1025, 0.09405134727308626),
 (1325, 0.09402062781809538),
 (1921, 0.0940186382687199),
 (2686, 0.09399714485158317),
 (752, 0.09396109556110269),
 (5278, 0.09394675120124311),
 (3255, 0.09394026803719964),
 (1640, 0.09393636661536776),
 (1341, 0.09392801469110898),
 (5164, 0.09392733939913847),
 (2604, 0.09389541269080702),
 (3826, 0.09381778319320289),
 (2076, 0.09380538897324367),
 (1139, 0.09379709076300421),
 (207, 0.09379678459292116),
 (5210, 0.0937616487762824),
 (5138, 0.09375174169484664),
 (85, 0.09370243027288405),
 (6199, 0.09367432280862509),
 (1972, 0.09364282609498499),
 (5307, 0.09364115393659705),
 (1434, 0.0936211762739726),
 (3018, 0.0936153225200332),
 (5652, 0.0936036202216998),
 (1791, 0.09360073339019827),
 (124, 0.09357844660481747),
 (2080, 0.09357664994136251),
 (4308, 0.09351280019936468),
 (598, 0.0935122357736518),
 (3641, 0.09349960885062568),
 (3847, 0.09341352104042186),
 (3281, 0.09340750294870495),
 (4477, 0.09340574922006038),
 (3148, 0.09337837152258366),
 (2416, 0.09337335833550027),
 (2585, 0.09336617348787718),
 (5665, 0.09336189985191234),
 (2475, 0.09329619479267026),
 (2833, 0.09328467881356882),
 (309, 0.09326514934910604),
 (3712, 0.09324422570366399),
 (2925, 0.09323825445921312),
 (2335, 0.093184942308544),
 (4775, 0.09317561629565141),
 (5271, 0.09317398498886828),
 (4765, 0.09306223481151737),
 (2211, 0.09299654444741978),
 (2638, 0.09299543652625918),
 (3112, 0.09295859761677683),
 (5911, 0.09290474626447523),
 (2616, 0.09289884199896047),
 (839, 0.09283626183138884),
 (3883, 0.09277710814544275),
 (2061, 0.09276340431576066),
 (2725, 0.0927411348023907),
 (6111, 0.09266656069694343),
 (1800, 0.09265872815125926),
 (1390, 0.09261511810667883),
 (1537, 0.09260501566421918),
 (5679, 0.09253980383301065),
 (4716, 0.09253903733511129),
 (3901, 0.0924536719430753),
 (1449, 0.09242452760430303),
 (5036, 0.09241117623088126),
 (6427, 0.09238609006521467),
 (1944, 0.09236678637482534),
 (2200, 0.09234079674782533),
 (1554, 0.09233381085363582),
 (4833, 0.09231632364614022),
 (4969, 0.09227576408563688),
 (4941, 0.09227179266188959),
 (5324, 0.0921906168639732),
 (3154, 0.09216446163642793),
 (1355, 0.0921453284652015),
 (5941, 0.09208827754562054),
 (3503, 0.09205651724701787),
 (3436, 0.09205041318817979),
 (2327, 0.09201075840841347),
 (6118, 0.09201055949699675),
 (2786, 0.09189717007226654),
 (2271, 0.09188810703588934),
 (4578, 0.0917320996047081),
 (2921, 0.09168329928558716),
 (3237, 0.09163441872041583),
 (45, 0.0916197921672861),
 (2663, 0.09154758779982029),
 (3454, 0.09153411716834918),
 (369, 0.09151549016431543),
 (938, 0.09151210706409349),
 (2727, 0.09149916200455692),
 (2655, 0.09144980718250742),
 (3920, 0.09142848836004606),
 (2087, 0.09133888089322548),
 (3024, 0.0912278161559637),
 (2322, 0.09122018287010203),
 (4350, 0.091175750275732),
 (1721, 0.09115264888066299),
 (6186, 0.09113944547509442),
 (5159, 0.09112565893751974),
 (141, 0.09110459877687281),
 (2999, 0.09108992406790366),
 (3609, 0.09103111506912583),
 (2701, 0.09101576474019547),
 (2311, 0.09098693879101429),
 (2077, 0.09096461974676376),
 (1859, 0.0909624645714514),
 (2924, 0.09094631882639649),
 (3211, 0.0909015205455319),
 (497, 0.09089734114873421),
 (4260, 0.09088034233304612),
 (6355, 0.0908463584624567),
 (2287, 0.09081927640809322),
 (4463, 0.09081234036715705),
 (1540, 0.0907327653958441),
 (1780, 0.09073262667094316),
 (277, 0.09072702334202747),
 (2662, 0.09070079999201859),
 (4243, 0.09068364046601962),
 (4395, 0.09055917097747482),
 (1765, 0.09053005470579768),
 (2301, 0.09049356692137045),
 (756, 0.0904912459463188),
 (4815, 0.09042191480089741),
 (3185, 0.09040619669497606),
 (5076, 0.09040153807037345),
 (4881, 0.09039569372659918),
 (6027, 0.09036493909019348),
 (3458, 0.09029940591771285),
 (3111, 0.09029926436800041),
 (4175, 0.09026509259991514),
 (6162, 0.09026426352271898),
 (3098, 0.09021370429880163),
 (3103, 0.0901396142636022),
 (3796, 0.09006746522033808),
 (4104, 0.09003468890078288),
 (5785, 0.09003018479733821),
 (3801, 0.08997714241269417),
 (5829, 0.08995804808485651),
 (63, 0.08994116998182432),
 (2457, 0.08983259640680913),
 (1383, 0.08982655322506726),
 (4713, 0.08981875712039725),
 (2579, 0.08981824805192247),
 (4454, 0.08981348404045411),
 (6361, 0.08979668996256675),
 (5294, 0.08977745191677333),
 (4499, 0.08970542895610684),
 (435, 0.08967743469288751),
 (3271, 0.0896450280343041),
 (721, 0.08960469303676377),
 (3698, 0.08959266700953107),
 (6097, 0.08952113023930895),
 (6243, 0.08951205682883784),
 (191, 0.08949349830334684),
 (5893, 0.0894716199764703),
 (3374, 0.08946858555691381),
 (4741, 0.08945354670748773),
 (6123, 0.0894357437790605),
 (3117, 0.08938287997023167),
 (3617, 0.08937669807488749),
 (4660, 0.08937555552403616),
 (2977, 0.08936682643988861),
 (3816, 0.08930363484579697),
 (5646, 0.0892062605500757),
 (2175, 0.08915207662712131),
 (6026, 0.08911026436714362),
 (4526, 0.08908037714195079),
 (6340, 0.08905929459534671),
 (571, 0.08905524724365078),
 (1836, 0.08898066061460662),
 (858, 0.08897297755217796),
 (2279, 0.08893960784674484),
 (3164, 0.08891243170856866),
 (477, 0.08890069529499048),
 (3814, 0.08888864371808453),
 (3305, 0.08886750967239554),
 (3779, 0.08885863371998441),
 (6404, 0.08876813016467022),
 (1975, 0.0886786332249541),
 (5729, 0.08861196718272563),
 (48, 0.08860884037684487),
 (1239, 0.08857102586389662),
 (4155, 0.0885465471569776),
 (2094, 0.08852182281262318),
 (3981, 0.08849109419715881),
 (6300, 0.08846408529248105),
 (1272, 0.08845017223986247),
 (2403, 0.08841959212593023),
 (6150, 0.088402032024771),
 (2732, 0.08836524175613145),
 (3522, 0.08834729658589217),
 (4479, 0.08829745094583609),
 (4450, 0.08827551086085578),
 (1808, 0.0882483000973087),
 (1392, 0.08824711611984372),
 (1690, 0.08824159084177165),
 (3219, 0.08823631064667001),
 (741, 0.08816524072658333),
 (4672, 0.08815893208913654),
 (4525, 0.08812966378246678),

In [163]:
data["movie_title"][3097]

'Angel Eyes\xa0'

In [164]:
data[data["movie_title"] == "Angel Eyes\xa0"]

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
3097,Angel Eyes,Drama Romance,Luis Mandoki,Sonia Braga,Shirley Knight,Kari Matchett,A story about a seemingly unlikely couple who ...,Angel Eyes Drama Romance Luis MandokiSonia Br...

In [165]:
data[data["movie_title"] == "Zola"]

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
1095,Zola,Comedy Crime,Janicza Bravo,Taylour Paige,Riley Keough,Nicholas Braun,A waitress agrees to accompany an exotic dance...,Zola Comedy Crime Janicza Bravo Taylour Paige...

In [166]:
data["overview"][3097]

"A story about a seemingly unlikely couple who cross paths under life-threatening circumstances as though they are destined not only to meet but to save each other's lives. Not once, but twice."