In [2]:
import pandas as pd
import numpy as np

In [13]:
data = pd.read_csv("MovieFinal.csv")

In [14]:
data.head()

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
0,Underworld: Blood Wars,Fantasy Action Thriller Horror,Anna Foerster,Kate Beckinsale,Theo James,Lara Pulver,Vampire death dealer Selene fends off brutal a...,Underworld: Blood Wars Fantasy Action Thriller...
1,Arsenal,Thriller Crime,Steven C. Miller,Adrian Grenier,Johnathon Schaech,Nicolas Cage,After the deadbeat brother of a businessman is...,Arsenal Thriller Crime Steven C. Miller Adria...
2,Between Us,Drama,Rafael Palacio Illingworth,Olivia Thirlby,Ben Feldman,Adam Goldberg,A New York couple and their Midwestern friends...,Between Us Drama Rafael Palacio Illingworth O...
3,Monster Trucks,Action Comedy Science Fiction,Chris Wedge,Lucas Till,Jane Levy,Amy Ryan,Tripp is a high school senior with a knack for...,Monster Trucks Action Comedy Science Fiction C...
4,The Bye Bye Man,Horror Thriller,Stacy Title,Douglas Smith,Doug Jones,Michael Trucco,When three college students move into an old h...,The Bye Bye Man Horror Thriller Stacy Title D...

In [25]:
df2 = data[data.duplicated(keep=False)]

df2.sort_values("movie_title").head(10)

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
5399,"20,000 Leagues Under the Sea",Adventure Drama Family Fantasy Sci-Fi,Richard Fleischer,James Mason,Robert J. Wilke,Paul Lukas,A ship sent to investigate a wave of mysteriou...,"20,000 Leagues Under the Sea Adventure Drama ..."
6537,"20,000 Leagues Under the Sea",Adventure Drama Family Fantasy Sci-Fi,Richard Fleischer,James Mason,Robert J. Wilke,Paul Lukas,A ship sent to investigate a wave of mysteriou...,"20,000 Leagues Under the Sea Adventure Drama ..."
6590,A Dog's Breakfast,Comedy,David Hewlett,Christopher Judge,David Hewlett,Paul McGillion,If you've never been good at anything in your ...,A Dog's Breakfast Comedy David HewlettChristo...
6589,A Dog's Breakfast,Comedy,David Hewlett,Christopher Judge,David Hewlett,Paul McGillion,If you've never been good at anything in your ...,A Dog's Breakfast Comedy David HewlettChristo...
6014,A Nightmare on Elm Street,Horror,Wes Craven,Johnny Depp,Lin Shaye,Amanda Wyss,Teenagers in a small town are dropping like fl...,A Nightmare on Elm Street Horror Wes CravenJo...
3164,A Nightmare on Elm Street,Horror,Wes Craven,Johnny Depp,Lin Shaye,Amanda Wyss,Teenagers in a small town are dropping like fl...,A Nightmare on Elm Street Horror Wes CravenJo...
4717,"A Woman, a Gun and a Noodle Shop",Comedy Drama,Yimou Zhang,Honglei Sun,Ni Yan,Dahong Ni,"Wang is a gloomy, cunning and avaricious noodl...","A Woman, a Gun and a Noodle Shop Comedy Drama..."
6070,"A Woman, a Gun and a Noodle Shop",Comedy Drama,Yimou Zhang,Honglei Sun,Ni Yan,Dahong Ni,"Wang is a gloomy, cunning and avaricious noodl...","A Woman, a Gun and a Noodle Shop Comedy Drama..."
6486,Across the Universe,Drama Fantasy Musical Romance,Julie Taymor,Jim Sturgess,T.V. Carpio,Robert Clohessy,When young dockworker Jude leaves Liverpool to...,Across the Universe Drama Fantasy Musical Rom...
2862,Across the Universe,Drama Fantasy Musical Romance,Julie Taymor,Jim Sturgess,T.V. Carpio,Robert Clohessy,When young dockworker Jude leaves Liverpool to...,Across the Universe Drama Fantasy Musical Rom...

In [264]:
data = data.reset_index(drop = True)

In [267]:
data["movie_title"][5523:5530]

5523                    Animal House
5524                      Goldfinger
5525                       Antiviral
5526           It's a Wonderful Life
5527                   Trainspotting
5528    The Original Kings of Comedy
5529           Paranormal Activity 2
Name: movie_title, dtype: object

In [6]:
data.describe()

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
count,6678,6678,6678,6678,6678,6678,6663,6678
unique,6551,1385,3762,3114,4233,4877,6332,6556
top,King Kong,Drama,Steven Spielberg,Robert De Niro,Morgan Freeman,Ben Mendelsohn,Mavka — a Soul of the Forest and its Warden — ...,Victor Frankenstein Drama Horror Sci-Fi Thril...
freq,3,390,26,49,20,8,4,3

In [26]:
data.drop_duplicates(subset="movie_title",
                     keep=False, inplace=True)

data.describe()

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
count,6431,6431,6431,6431,6431,6431,6416,6431
unique,6431,1373,3737,3085,4189,4813,6226,6431
top,Underworld: Blood Wars,Drama,Steven Spielberg,Robert De Niro,Morgan Freeman,Steve Coogan,Thirty years after the events of the first fil...,Underworld: Blood Wars Fantasy Action Thriller...
freq,1,383,26,47,16,8,4,1

In [27]:
df3 = data[data.duplicated(keep=False)]

df3.sort_values("movie_title").head(10)

Empty DataFrame
Columns: [movie_title, genres, director_name, actor_1_name, actor_2_name, actor_3_name, overview, combine]
Index: []

In [215]:
data[data["movie_title"].str.lower() == "pirates of the caribbean: at world's end\xa0"]

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
1773,Pirates of the Caribbean: At World's End,Action Adventure Fantasy,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,"Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End Acti...

In [236]:
def remove_EOL(MovieName):
    return MovieName.split("\xa0")[0]

In [237]:
data["movie_title"] = data["movie_title"].apply(remove_EOL)

In [238]:
data["movie_title"][1773]

"Pirates of the Caribbean: At World's End"

In [88]:
data[data["movie_title"]== "A Cure for Wellness"]

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
27,A Cure for Wellness,Horror Mystery Science Fiction,Gore Verbinski,Dane DeHaan,Mia Goth,Jason Isaacs,An ambitious young executive is sent to retrie...,A Cure for Wellness Horror Mystery Science Fic...

In [268]:
data["movie_title"][5526]

"It's a Wonderful Life"

In [300]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity


def create_similarity(DataSet):
    data = pd.read_csv(DataSet)
    # creating a count matrix
    cv = TfidfVectorizer()
    count_matrix = cv.fit_transform(data["combine"])
    # creating a similarity score matrix
    similarity = cosine_similarity(count_matrix)
    return data,similarity

create_similarity("MovieFinal.csv")[0]

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
0,Underworld: Blood Wars,Fantasy Action Thriller Horror,Anna Foerster,Kate Beckinsale,Theo James,Lara Pulver,Vampire death dealer Selene fends off brutal a...,Underworld: Blood Wars Fantasy Action Thriller...
1,Arsenal,Thriller Crime,Steven C. Miller,Adrian Grenier,Johnathon Schaech,Nicolas Cage,After the deadbeat brother of a businessman is...,Arsenal Thriller Crime Steven C. Miller Adria...
2,Between Us,Drama,Rafael Palacio Illingworth,Olivia Thirlby,Ben Feldman,Adam Goldberg,A New York couple and their Midwestern friends...,Between Us Drama Rafael Palacio Illingworth O...
3,Monster Trucks,Action Comedy Science Fiction,Chris Wedge,Lucas Till,Jane Levy,Amy Ryan,Tripp is a high school senior with a knack for...,Monster Trucks Action Comedy Science Fiction C...
4,The Bye Bye Man,Horror Thriller,Stacy Title,Douglas Smith,Doug Jones,Michael Trucco,When three college students move into an old h...,The Bye Bye Man Horror Thriller Stacy Title D...
...,...,...,...,...,...,...,...,...
6673,Newlyweds,Comedy Drama,Edward Burns,Kerry Bishé,Caitlin FitzGerald,Daniella Pineda,A newlywed couple's honeymoon is upended by th...,Newlyweds Comedy Drama Edward BurnsKerry Bish...
6674,Signed Sealed Delivered,Comedy Drama,Scott Smith,Eric Mabius,Daphne Zuniga,Crystal Lowe,A mix up on her first day of work sends Shane ...,Signed Sealed Delivered Comedy Drama Scott Sm...
6675,A Plague So Pleasant,Drama Horror Thriller,Benjamin Roberds,Eva Boehnke,Maxwell Moody,David Chandler,"In the near future, zombies have become a prot...",A Plague So Pleasant Drama Horror Thriller Be...
6676,Shanghai Calling,Comedy Drama Romance,Daniel Hsia,Alan Ruck,Daniel Henney,Eliza Coupe,When ambitious New York attorney Sam is sent t...,Shanghai Calling Comedy Drama Romance Daniel ...
6677,My Date with Drew,Documentary,Jon Gunn,John August,Brian Herzlinger,Jon Gunn,Ever since the second grade when he first saw ...,My Date with Drew Documentary Jon GunnJohn Au...

In [292]:
cv = TfidfVectorizer()
count_matrix = cv.fit_transform(data["combine"])
# creating a similarity score matrix
similarity = cosine_similarity(count_matrix)
print(similarity[0])

[1.         0.02814262 0.01918685 ... 0.03794998 0.02096342 0.03584917]

In [291]:
similarity.shape

(6431, 6431)

In [287]:
i = data.loc[data["movie_title"].str.lower() == "creed iii"].index[0]
#2663 4363 1418
i

1611

In [288]:
recommend = list(enumerate(similarity[i]))
test = sorted(recommend, key= lambda x:x[1], reverse=True)[:10]

In [289]:
for i in test:
    print(data["movie_title"][i[0]])
    #print(i[0])

Creed III
Creed
Creed II
Southpaw
Brad's Status
Michael Jordan to the Max
The Flash
Big George Foreman
Sound of Metal
Warrior

In [284]:
data[data["movie_title"] == "No Hard Feelings"]

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
1702,No Hard Feelings,Comedy Romance,Gene Stupnitsky,Jennifer Lawrence,Andrew Barth Feldman,Laura Benanti,"On the brink of losing her childhood home, Mad...",No Hard Feelings Comedy Romance Gene Stupnitsk...

In [275]:
data[data["movie_title"] == "The Mighty"]

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
6355,The Mighty,Comedy Drama,Peter Chelsom,Kieran Culkin,Elden Henson,Gena Rowlands,A magical meteor crash-lands in Adventure City...,The Mighty Comedy Drama Peter ChelsomKieran C...

In [276]:
data[data["movie_title"] == "Thor: Love and Thunder"]

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,overview,combine
1412,Thor: Love and Thunder,Fantasy Action Comedy,Taika Waititi,Chris Hemsworth,Christian Bale,Tessa Thompson,After his retirement is interrupted by Gorr th...,Thor: Love and Thunder Fantasy Action Comedy T...

In [286]:
data["combine"][1412]

'Thor: Love and Thunder Fantasy Action Comedy Taika Waititi  Chris Hemsworth Christian Bale Tessa Thompson After his retirement is interrupted by Gorr the God Butcher, a galactic killer who seeks the extinction of the gods, Thor Odinson enlists the help of King Valkyrie, Korg, and ex-girlfriend Jane Foster, who now wields Mjolnir as the Mighty Thor. Together they embark upon a harrowing cosmic adventure to uncover the mystery of the God Butcher’s vengeance and stop him before it’s too late.'