In [41]:
import pandas as pd
import numpy as np
import os

from tmdbv3api import Movie
from tmdbv3api import TMDb

In [50]:
#for i in range(2018,2024):
def get_movies(year):
    link = f"https://en.wikipedia.org/wiki/List_of_American_films_of_{year}"
    df1 = pd.read_html(link, header=0)[2]
    df2 = pd.read_html(link, header=0)[3]
    df3 = pd.read_html(link, header=0)[4]
    df4 = pd.read_html(link, header=0)[5]
    df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

    return df


get_movies(2023)

/var/folders/c3/dvn59mv90v1_ty94ywl85v0r0000gn/T/ipykernel_48328/1640052408.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,Ref.
0,1.0,The Super Mario Bros. Movie*,Universal,"$574,057,485",NaN,NaN,NaN,NaN,NaN
1,2.0,Spider-Man: Across the Spider-Verse*,Sony,"$375,209,000",NaN,NaN,NaN,NaN,NaN
2,3.0,Guardians of the Galaxy Vol. 3*,Disney,"$358,853,459",NaN,NaN,NaN,NaN,NaN
3,4.0,The Little Mermaid*,Disney,"$296,107,607",NaN,NaN,NaN,NaN,NaN
4,5.0,Ant-Man and the Wasp: Quantumania,Disney,"$214,506,909",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
202,NaN,Drive-Away Dolls,NaN,NaN,SEPTEMBER,22.0,Focus Features / Working Title Films,Ethan Coen (director/screenplay); Tricia Cooke...,[177]
203,NaN,It Lives Inside,NaN,NaN,SEPTEMBER,22.0,Neon / Brightlight Pictures,Bishal Dutta (director/screenplay); Megan Suri...,[178]
204,NaN,PAW Patrol: The Mighty Movie,NaN,NaN,SEPTEMBER,29.0,Paramount Pictures / Nickelodeon Movies / Spin...,"Cal Brunker (director); Mckenna Grace, Taraji ...",[179]
205,NaN,The Creator,NaN,NaN,SEPTEMBER,29.0,20th Century Studios / Regency Enterprises / E...,Gareth Edwards (director/screenplay); Chris We...,[180]
206,NaN,Saw X,NaN,NaN,SEPTEMBER,29.0,Lionsgate / Twisted Pictures,"Kevin Greutert (director); Josh Stolberg, Pete...",[181]

In [57]:
tmdb = TMDb()
tmdb_movie = Movie()

genres = []
result = tmdb_movie.search("Creed")
movie_id = result

In [58]:
id = movie_id[0]["id"]

In [59]:
import requests

url = f"http://api.themoviedb.org/3/movie/{id}?api_key=b244d3a3077aee0bbf98ee8a5ad16c10"

response = requests.get(url)

data = response.json()

In [60]:
data["genres"]

[{'id': 28, 'name': 'Action'}, {'id': 18, 'name': 'Drama'}]

In [39]:
generes = " "
for i in range(0,len(data["genres"])):
    generes +=((data["genres"][i]["name"])) + " "

In [40]:
generes

' Action Adventure Animation Science Fiction '